

.button
{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.root
{
    -fx-background-color: #C0C0C0;
}

#name, #date, #labeldeposit, #deposit, #labelhapiness, #effectiveHappiness
{
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-text-fill: #0000A0;
-fx-border-color: white;
-fx-background-color: #C0C011;
}

