#date
{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #312333;
}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: GREEN;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: GREEN;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: GREEN;
    -fx-opacity: 1;
}
